name: Auto Deploy to VPS

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup SSH key
      uses: webfactory/ssh-agent@v0.9.0
      with:
        ssh-private-key: ${{ secrets.SSHKEY }}

    - name: Deploy to VPS
      run: |
        ssh -o StrictHostKeyChecking=no ${{ secrets.VPSUSER }}@${{ secrets.VPSHOST }} "bash -s" << 'EOF'
        cd ~/project
        git pull origin main
        docker compose down
        docker compose up -d --build
        EOF

